<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Dodax">
    <test name="Frontpage">
        <classes>
            <class name="TestCases.HomePage_tests"/>
            <class name="TestCases.Login_tests"/>
            <class name="TestCases.ProductPage_tests"/>
            <class name="TestCases.Catalog_tests">


            </class>
        </classes>
    </test>
</suite>